:root {
  --light-theme-color: #F6F4F2;
  --dark-theme-color: #1B333B;
  --page-height: 100vh;
  --page-width: 100%;
}

body {
  background-color: var(--dark-theme-color);
  color: var(--light-theme-color)
}

.page__wrap {
  height: var(--page-height);
  width: var(--page-width);
}
.page__wrap:nth-child(2n) {
  background-color: var(--light-theme-color);
  color: var(--dark-theme-color);
}