:root {
  --light-theme-color: #F6F4F2;
  --dark-theme-color: #1B333B;
  --page-height: 100vh;
  --page-width: 100%;
}

@keyframes logo {
  0% {
    box-shadow: 0px 0px rgba(246, 244, 242, .8), 0px 0px 30px rgba(0,0,0,.15) inset;
  }
  50% {
    box-shadow: 0px 0px rgba(246, 244, 242, .8), 0px 0px 30px rgba(255,255,255,.15) inset;
  }
  100% {
    box-shadow: 0px 0px rgba(246, 244, 242, .8), 0px 0px 30px rgba(0,0,0,.15) inset;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: var(--dark-theme-color);
  color: var(--light-theme-color);
}

.page__wrap {
  height: var(--page-height);
  width: var(--page-width);
}
.page__wrap:nth-child(2n) {
  background-color: var(--light-theme-color);
  color: var(--dark-theme-color);
}
.page__wrap:last-child {
  height: 300px;
}