/* 整体部分 */ 
::-webkit-scrollbar
{
  width: 22px;
  height: 22px;
}

/* 滑动轨道 */ 
::-webkit-scrollbar-track
{
	border-radius: 0px;
	background: none;
}

/* 滑块 */
::-webkit-scrollbar-thumb
{
  border: 1px #1B333B solid;
  border-radius: 11px;
  box-shadow: inset 0 0 5px #F6F4F2;
	-webkit-box-shadow: inset 0 0 5px #F6F4F2;
	background-color: #1B333B;
}

/* 滑块效果 */ 
::-webkit-scrollbar-thumb:hover
{
  border-radius: 11px;
  box-shadow: inset 0 0 5px #1B333B;
	-webkit-box-shadow: inset 0 0 5px #1B333B;
	background-color: #F6F4F2;
}
